
 <!-- Render Header if Logged out -->
<div *ngIf="!this.userService.logged" style="min-height:5vh">
  <div style="display : flex; justify-content: space-around; margin-top : 1%" >
    <a  routerLink="/" style="margin-left : 5%" > Home </a>
    <button   style="margin-right:5%">Login</button>
  </div>
</div>
<!-- Render Header if Logged in -->
<div *ngIf="this.userService.logged">
    <nav style="display : flex; justify-content: space-evenly;" >
    <div style="display : flex; justify-content : space-evenly; min-width: 30%;">
        <a  routerLink="/products" >Home </a>
        <a  routerLink="/products" > Home </a>
    </div>
    <div style="display : flex; justify-content : space-evenly; min-width: 30%; margin-left: 40%;">
        <input matInput placeholder="Search" [(ngModel)]="searchString" style="max-height : 50%; margin-top : 10px; min-width: 50%;" (keyup.enter)="search()" (ngModelChange)="search()">
        <a  routerLink="/cart" style="text-align : center;">Cart</a>
        <a  routerLink="/account" style="text-align : center;">Account </a>
    </div>
  </nav>
  </div>
