

  <div style="display: flex; flex-direction: column; width:30%; margin : auto; margin-top:7%;">
    <h2 style="text-align : center">Login to Your account</h2>
    <caption>Welcome back! Please Enter your details</caption>
    <form #Form="ngForm" (ngSubmit)="login()" style="display : flex; flex-direction: column">
      <label>Email</label>
      <input type="text" name="name" #Name="ngModel" required  appForbiddenName="username" placeholder="Username" [(ngModel)]="username" style="text-align : center;">
        <div *ngIf="Name.invalid && Name.dirty" >
          <div *ngIf="Name.errors?.['required']" style="text-align: center;">
            Please provide your  Username
          </div>
        </div>
        <label>Password</label>
      <input type="password" name="password" required minlength="5" #Address="ngModel" [(ngModel)]="password" placeholder="Password" style="text-align : center;">
        <div *ngIf="Address.invalid && Address.dirty">
          <div *ngIf="Address.errors?.['required']" style="text-align: center;">
            Please provide your Password
          </div>
          <div *ngIf="Address.errors?.['minlength']" style="text-align: center;">
            The Password must be at least 5 characters.
          </div>
        </div>

      <button type="submit"  mat-flat-button color="accent" [disabled]="false"  style="margin-top:1%">Login</button>
    </form>
  </div>




