.container {
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid rgb(189, 179, 179);
  min-width: 70%;
  max-height: 80%;
  margin-left: 5%;
  margin-top: 10%;
  height: 700px;
}

img.pointer {
  cursor: pointer;

  height: 50%;
  width: 100%;
  object-fit: fill;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  max-height: 50%;
  height: 250px;
}

.price {
  display: inline;
  margin-left: 5px;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  height: 1.2em;
  white-space: nowrap;
}
